<nav>
    <div class="desktop-menu"
        style="display: flex; justify-content: space-between; padding: 10px; background-color: #f0f0f0;">
        <div>
            <a routerLink="/" routerLinkActive="active">Home</a> |
            <a routerLink="/about" routerLinkActive="active">About</a> |
            <a routerLink="/principles" routerLinkActive="active">Principles</a> |
            <a routerLink="/impressum" routerLinkActive="active">Impressum</a>
        </div>
    </div>

    <div class="mobile-menu">
        <button (click)="toggleMenu()">
            ☰
        </button>
        <div class="dropdown" [class.show]="showMenu">
            <a routerLink="/" routerLinkActive="active">Home</a>
            <a routerLink="/about" routerLinkActive="active">About</a>
            <a routerLink="/principles" routerLinkActive="active">Principles</a>
            <a routerLink="/impressum" routerLinkActive="active">Impressum</a>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>